.page-1 {
    position: absolute;
    top: 150px;
    background-color: var(--d-background-color);
    height: 150%;
}
.page-1>h4 {
    top: 80%;
}
.page-1>.img-big {
    height: 80%;
}
.page-2 {
    position: absolute;
    top: calc(150px + 150%);
    background-color: rgb(21, 21, 21);
}
.page-2>h1 {
    top: 29%;
}
.page-2>h2 {
    top: 25%;
}
.page-2>h4 {
    top: 50%;
}
.page-3 {
    position: absolute;
    top: calc(150px + 150% + 60%);
    background-color: var(--d-background-color);
    height: 150%;
}
.page-3>.btn {
    top: 230px;
}
.page-3>.img-big {
    top: 140px;
}
.page-4 {
    position: absolute;
    top: calc(150px + 150%*2 + 60%);
    background-color: var(--d-background-color);
}
.page-4>h2 {
    top: 42%;
}
.page-4>h4 {
    top: 55%;
}
.bottom-banner {
    top: calc(150px + 150%*2 + 60% + 100%);
}