/* all content after this line will go to local.css */
.page-1 {
    position: absolute;
    top: 150px;
    background-color: var(--d-background-color);
    height: 150%;
}
.page-1>h4 {
    top: 80%;
}
.page-1>.img-big {
    height: 80%;
}
.page-2 {
    position: absolute;
    top: calc(150px + 150%);
    background-color: var(--d-background-color);
    height: 150%;
}
.page-2>.image-container-type-1 {
    top: 23%;
}
.page-2>h3 {
    top: 82%;
}
.page-2>h4:nth-of-type(2) {
    top: 85%;
}
.page-3 {
    position: absolute;
    top: calc(150px + 150%*2);
    background-color: var(--d-background-color);
}
.page-3>.image-container-type-2 {
    top: 20%;
    height: 70%;
}
.page-4 {
    position: absolute;
    top: calc(150px + 120% + 150%*2);
    background-color: var(--d-background-color);
}
.page-4>.image-container-type-2 {
    top: 20%;
    height: 70%;
}
.page-5 {
    position: absolute;
    top: calc(150px + 120%*2 + 150%*2);
    background-color: pink;
}
.page-5>h1 {
    font-size: 15px;
}
.page-7 {
    position: absolute;
    top: calc(150px + 120%*3 + 150%*2);
    background-color: var(--d-background-color);
}
.page-7>.image-container-type-2 {
    top: 20%;
    height: 70%;
}
.page-7>.image-container-type-2>.image-right-big {
    top: 30px;
    /* height: 70%; */
}
.page-8 {
    position: absolute;
    top: calc(150px + 120%*4 + 150%*2);
    background-color: var(--d-background-color);
    height: 150%;
}
.page-8>.btn {
    top: 230px;
}
.page-8>.img-big {
    top: 140px;
}
.page-9 {
    position: absolute;
    top: calc(150px + 120%*5 + 150%*2);
    background-color: rgb(21, 21, 21);
}
.page-9>h1 {
    top: 70px;
}
.page-9>h2 {
    top: 50px;
}
.page-9>h4 {
    top: 180px;
}
.page-10 {
    position: absolute;
    top: calc(150px + 120%*5 + 150%*2 + 60%);
    background-color: var(--d-background-color);
}
.page-10>h2 {
    top: 42%;
}
.page-10>h4 {
    top: 55%;
}
.bottom-banner {
    top: calc(150px + 120%*5 + 150%*2 + 60% + 100%);
}